.inside_medicine_container {
  border: 1px solid black;
  /* border: none; */

  /* background-color: black; */
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 3rem;
}

.addMedicine__button {
  border: none;
}
